@import 'normalize.css';

:root {
  --color-background: #222;
  --color-background-d: rgba(0, 0, 0, 0.3);
  --color-highlight-background: #333;
  --color-highlight-background-l: rgba(51, 51, 51, .8);
  --color-dialog-background: #666;
  --color-theme: #ffcd32;
  --color-theme-d: rgba(255, 205, 49, 0.5);
  --color-sub-theme: #d93f30;
  --color-text: #fff;
  --color-text-d: rgba(255, 255, 255, 0.3);
  --color-text-l: rgba(255, 255, 255, 0.5);
  --color-text-ll: rgba(255, 255, 255, 0.8);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body,
html {
  line-height: 1;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
}
body {
  width: 100%;
  width: 100vw;
}

